<%= form_for @changeset, @action, fn f -> %>
    <div class="form-label-group">
        <%= label f, :title, class: "control-label" %>
        <%= text_input f, :title, class: "form-control" %>
        <%= error_tag f, :title %>
    </div>

    <br>
       
    <div class="form-label-group">
        <%= submit "Create Todo" %>
    </div>
<% end %>
      
