<h1>Name : <%= @content.title%></h1>


    <div class="right">
      <%= link "Edit", to: Routes.todo_path(@conn, :edit, @content.id) %>
        <br>
      <%= link "Delete", to: Routes.todo_path(@conn, :delete, @content), method: :delete, data: [confirm: "Are you sure?"] %>
    </div>

   <br>

<h3>Add Comment</h3>
  <%= form_for @items_changeset, Routes.todo_item_path(@conn, :create, @content), fn f ->%>
    <%= label f, :item %>
    <%= textarea f, :item %>
    <%= error_tag f, :item %>

    <h3>Comments</h3>
    <ul>

    <%= for items <- @content.items do %>
       <li class="item"><%= items.item%></li>
    <% end %>
    </li>
       
    <div class="form-label-group">
        <%= submit "Create Item" %>
    </div>

<% end %>