<div class="row">
  <div class="col-md-3">
    <h3>Todo</h3>
    <ul class="list-group">
    <%= for todo <- @todo do %>
      <li class="list-group-item"> <%= link todo.title, to: Routes.todo_path(@conn, :show, todo.id), class: "btn btn-link"%></li>
    <% end %>

    </ul>
  </div>
    <div class="jumbotron">
  <div class="col-md-9">
      <div class="page-header text-center">
        <h2>Welcome to Todo</h2>
      </div>
      <div class="page-header text-center">
        <h2><small>Choose the todo on the left to join</small></h2>
        <h2><small>or <a <%= link "Create", to: Routes.todo_path(@conn, :new), class: "btn btn-primary" %></a> a new one</small></h2>
      </div>
    </div>
  </div>
</div>
