<div class="auth-form-wrapper">
  <%= form_for @conn, Routes.session_path(@conn, :create), [as: :session, class: "form-signin"], fn f -> %>
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
    </div>

    <br>

    <div class="form-label-group">
      <%= label f, :email, "Email address", class: "control-label" %>
      <%= text_input f, :email, class: "form-control", placeholder: "Email address", required: true, autofocus: true %>
    </div>

    <br>

    <div class="form-label-group">
      <%= label f, :password, class: "control-label" %>
      <%= password_input f, :password, class: "form-control", placeholder: "Password", required: true %>
    </div>
    
     <br>

    <%= submit "Sign in", class: "btn btn-lg btn-primary btn-block" %>

    <hr>
  <% end %>
    
</div>